



.text-gold{
    color:lightseagreen;
}


.text-dark1 {
    color: lightseagreen;
}


.text-dark2 {
    color: lightseagreen;
}


.text-dark3 {
    color: lightseagreen;
}

.main {
    color: lightseagreen
}